* {
	font-family: "Microsoft YaHei";
}

/* button icon */
.btn-icon {
	width: 120px;
	height:120px;
	margin:50px auto;
	cursor:pointer;
}

p > a {
	cursor:pointer;
}

.input-gap {
	margin-top: 40px;
}

.block-gap {
	margin: 50px auto;
}

.input {
	width: 40%;
	margin: auto 30%;
}

.card {
	background-color: #eeeefe;
	padding: 20px 81px;
	text-align: left;
	margin-top: 60px;
}

.btn-gap {
	margin: 0 10px;
}

.info-card {
        background-color: #eeeefe;
        padding: 20px 60px;
        text-align: left;
        margin-top: 40px;
}

.record-card {
	background-color: #eeeefe;
        padding: 20px 60px;
        text-align: left;
        margin-top: 40px;
        margin-left: 80px;
}

.chart {
	height: 500px;
	margin-left: 30px;
}
