<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
        <bean id="memberDAO" class="dao.impl.MemberDAOImpl" />
        <bean id="loginDAO" class="dao.impl.LoginDAOImpl"/>
        <bean id="hotelDAO" class="dao.impl.HotelDAOImpl">
                <property name="member" ref="memberDAO" />
        </bean>

        <bean id="loginBean" class="service.impl.LoginBean">
                <property name="login" ref="loginDAO" />
        </bean>       
        <bean id="memberBean" class="service.impl.MemberBean">
                <property name="member" ref="memberDAO" />
        </bean>
        <bean id="hotelBean" class="service.impl.HotelBean">
                <property name="hotel" ref="hotelDAO" />
        </bean>
        
        <bean id="LoginAction" class="controller.LoginAction">
                <property name="login" ref="loginBean" />
        </bean>
        <bean id="LogoutAction" class="controller.LogoutAction"/>
        <bean id="RegisterAction" class="controller.member.RegisterAction">
                <property name="member" ref="memberBean" />
        </bean>
        <bean id="ActivateAction" class="controller.member.ActivateAction">
                <property name="member" ref="memberBean" />
        </bean>
        <bean id="CancelAction" class="controller.member.CancelAction">
                <property name="member" ref="memberBean" />
        </bean>
        <bean id="RechargeAction" class="controller.member.RechargeAction">
                <property name="member" ref="memberBean" />
        </bean>
        <bean id="MemberDataAction" class="controller.member.MemberDataAction">
                <property name="member" ref="memberBean" />
        </bean>
        <bean id="RoomBookAction" class="controller.hotel.RoomBookAction">
                <property name="hotel" ref="hotelBean" />
        </bean>
        <bean id="BookCancelAction" class="controller.hotel.BookCancelAction">
                <property name="hotel" ref="hotelBean" />
        </bean>
        <bean id="ResideRegAction" class="controller.hotel.ResideRegAction">
                <property name="hotel" ref="hotelBean" />
        </bean>
        <bean id="AwayRegAction" class="controller.hotel.AwayRegAction">
                <property name="hotel" ref="hotelBean" />
        </bean>
        <bean id="PlanAction" class="controller.hotel.PlanAction">
                <property name="hotel" ref="hotelBean" />
        </bean>
        <bean id="BranchApplyAction" class="controller.hotel.BranchApplyAction">
                <property name="hotel" ref="hotelBean" />
        </bean>
        <bean id="CEOMsgAction" class="controller.hotel.CEOMsgAction">
                <property name="hotel" ref="hotelBean" />
        </bean>
        <bean id="HotelDataAction" class="controller.hotel.HotelDataAction">
                <property name="hotel" ref="hotelBean" />
        </bean>
</beans>