<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
        <bean id="loginDAO" class="dao.impl.LoginDAOImpl" />
        <bean id="memberDAO" class="dao.impl.MemberDAOImpl" />

        <bean id="loginBean" class="service.impl.LoginBean">
                <property name="login" ref="loginDAO" />
        </bean>       
        <bean id="memberBean" class="service.impl.MemberBean">
                <property name="member" ref="memberDAO" />
        </bean>
        
        <bean id="LoginAction" class="controller.LoginAction">
                <property name="login" ref="loginBean" />
        </bean>
        <bean id="RegisterAction" class="controller.member.RegisterAction">
                <property name="member" ref="memberBean" />
        </bean>
        <bean id="ActivateAction" class="controller.member.ActivateAction">
                <property name="member" ref="memberBean" />
        </bean>
        
</beans>